body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #111;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

#game-container {
    width: 1024px;
    height: 280px;
    position: relative;
    overflow: hidden;
    border: 5px solid #5c4f3a;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    background-image: url('sprites/bckground.jpg');
    background-repeat: repeat-x;
    background-size: auto 100%; 
    background-position: left center;
}

#player {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 25px;
    left: 50px;
    z-index: 10;
    
    background-image: url('sprites/sprite_v.png');
    
    background-size: 256px 256px;
    
    image-rendering: pixelated; 
}


.idle {
    background-position-y: 0px;
    animation: play 1.2s steps(4) infinite;
}

.run {
    background-position-y: -64px; 
    animation: play 0.6s steps(4) infinite;
}

.dead {
    background-position-y: -192px;

    animation: play 0.8s steps(4) forwards;
}


@keyframes play {
    from { background-position-x: 0px; }
    to { background-position-x: -256px; }
}


.item {
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 5;
    
    background-image: url('sprites/items.png');
    
    background-size: 192px 96px;
    
    image-rendering: pixelated;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}


.hedwig {
    background-position-y: 0px;
    animation: fly 0.6s steps(4) infinite;
}


.pocion {
    background-position-y: -48px; /* Fila 2 */
    background-position-x: 0px;   /* Columna 1 */
}

.libro {
    background-position-y: -48px; /* Fila 2 */
    background-position-x: -48px; /* Columna 2 */
}

.bola {
    background-position-y: -48px; /* Fila 2 */
    background-position-x: -96px; /* Columna 3 */
}

.arana {
    background-position-y: -48px;  /* Fila 2 */
    background-position-x: -144px; /* Columna 4 */
}

@keyframes fly {
    from { background-position-x: 0px; }
    to { background-position-x: -192px; } 
}

#score {
    position: absolute;
    top: 15px; left: 20px;
    color: #f1e7c3; font-size: 26px; font-weight: bold;
    text-shadow: 2px 2px 0px #3b2e1e; z-index: 20;
}
#start-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,0.85);

    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 

    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000; 
    text-align: center;
}
@keyframes slide-bg {
    from { background-position-x: 0; }
    to { background-position-x: -800px; }
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}